<form class="form-horizontal" [formGroup]="formGroup">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">代办商基本信息</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">代办商名称<span>*</span></label>
        <div class="col-sm-2">
          <input type="text" class="form-control" placeholder="名称" formControlName="vdrname">
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'vdrname')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">详细地址<span>*</span></label>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">省</div>
          <select class="form-control" (change)="showCity($event)" formControlName="vdraddr1">
            <option selected="selected" value="">请选择省</option>
            <option *ngFor="let pro of province | async; let i = index" value="{{pro.name}}">{{pro.name}}</option>
          </select>
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'vdraddr1')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">市</div>
          <select class="form-control" (change)="showArea($event)" formControlName="vdraddr2">
            <option selected="selected" value="">请选择市</option>
            <option *ngFor="let c of city | async; let i = index" value="{{c.name}}">{{c.name}}</option>
          </select>
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'vdraddr2')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">县</div>
          <select class="form-control" formControlName="vdraddr3">
            <option selected="selected" value="">请选择区</option>
            <option *ngFor="let a of area | async; let i = index" value="{{a.name}}">{{a.name}}</option>
          </select>
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'vdraddr3')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">牌照代码<span>*</span></label>
        <div class="col-sm-1" style="width:70px;">
          <input type="text" class="form-control" formControlName="vdrplate1">
        </div>
        <div class="col-sm-1" style="width:70px;">
          <input type="text" class="form-control" formControlName="vdrplate2">
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'vdrplate2')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">联系人(主)<span>*</span></label>
        <div class="col-sm-2">
          <input type="text" class="form-control" formControlName="contact">
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'contact')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
        <label class="col-sm-2 control-label">联系人电话(主)<span>*</span></label>
        <div class="col-sm-2">
          <input type="text" class="form-control" formControlName="contactphone">
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'contactphone')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
      </div>
      <!-- 误删 待用 -->
      <div class="form-group">
        <label class="col-sm-2 control-label">其他联系人<span><i class="fa fa-fw fa-plus-square-o" (click)="addContact()"></i></span></label>
        <div class="col-sm-8" formArrayName="contacts">
          <div *ngFor="let e of formGroup.get('contacts').controls;let i = index;">
            <div class="form-group" [formGroupName]="i">
              <label class="col-sm-1 control-label">联系人</label>
              <div class="col-sm-3">
                <input class="form-control" formControlName="cname">
              </div>
              <label class="col-sm-2 control-label">联系人电话</label>
              <div class="col-sm-3">
                <input class="form-control" formControlName="cphone">
              </div>
              <span><i class="fa fa-fw  fa-minus-square-o" (click)="removeContact(i)"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">代办商地址<span>*</span></label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="地址" formControlName="vdraddrdetail">
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'vdraddrdetail')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <!-- /.box-footer -->
  </div>

  <!-- /.box -->
  <div class="box-footer">
    <button type="button" class="btn btn-default" (click)="cancel()">取消</button>
    <button type="button" class="btn btn-default" (click)="save()">保存</button>
    <button type="submit" class="btn btn-info pull-right" (click)="submit()">确认(提交)</button>
  </div>
</form>
