<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">代办商查询</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal" [formGroup]="formGroup">
    <div class="box-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">详细地址</label>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">省</div>
          <select class="form-control" (change)="showCity($event)" formControlName="vdraddr1">
            <option selected="selected" value="">请选择省</option>
            <option *ngFor="let pro of province | async; let i = index" value="{{pro.name}}">{{pro.name}}</option>
          </select>
        </div>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">市</div>
          <select class="form-control" (change)="showArea($event)" formControlName="vdraddr2">
            <option selected="selected" value="">请选择市</option>
            <option *ngFor="let c of city | async; let i = index" value="{{c.name}}">{{c.name}}</option>
          </select>
        </div>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">区</div>
          <select class="form-control" formControlName="vdraddr3">
            <option selected="selected" value="">请选择区</option>
            <option *ngFor="let a of area | async; let i = index" value="{{a.name}}">{{a.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">牌照代码</label>
        <div class="col-sm-1" style="width:70px;">
          <input type="text" class="form-control" formControlName="vdrplate1">
        </div>
        <div class="col-sm-1" style="width:70px;">
          <input type="text" class="form-control" formControlName="vdrplate2">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">联系人</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" formControlName="contact" id="vdrcontact">
        </div>
        <label class="col-sm-2 control-label">联系人电话</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" formControlName="contactphone">
        </div>
        <!--<span><i class="fa fa-fw fa-plus-square-o" (click)="addContact()"></i></span>-->
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">提交时间</label>
        <div class="col-sm-3" style="display:table;">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control" id="vdrmgt_form_dp" formControlName="firstdate">
        </div>
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-2">
          <select class="form-control" formControlName="state">
            <option value="所有">所有</option>
            <option value="已提交">已提交</option>
            <option value="未提交">未提交</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">办证项目</label>
        <div *ngFor="let item of formGroup.get('itemlist').controls; let i=index">
          <div class="col-sm-2 formMulCheckBox">
            <div>{{itemlist[i].name}}</div>
            <input type="checkbox" [formControl]="item" value="{{itemlist[i].state}}">
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-left" (click)="create()">新建代办商</button>&nbsp;&nbsp;
      <button type="submit" class="btn btn-success pull-left" style="margin-left:5px;" (click)="search(formGroup.value)">查询</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">查询结果</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="vdrmgtTable" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>商家编号</th>
        <th>省市县</th>
        <th>牌照代码</th>
        <th>代办商名称</th>
        <th>办证项目</th>
        <th>联系人</th>
        <th>联系电话</th>
        <th>更新时间</th>
        <th>状态</th>
        <th>创建人</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let v of vendors | async; let i = index">
        <td>{{v.vdrid}}</td>
        <td>{{v.vdraddr}}</td>
        <td>{{v.vdrplate}}</td>
        <td>{{v.vdrname}}</td>
        <td>{{showItemDetail(v)}}</td>
        <td>{{v.contact}}
        </td>
        <td>{{v.contactphone}}
        </td>
        <td>{{v.createdate}}</td>
        <td>{{v.state}}</td>
        <td>{{v.creator}}</td>
        <td>
          <p>
            <a class="btn btn-primary btn-xs" (click)="submit(v.vdrid)"><span class="glyphicon glyphicon-ok"></span>提交</a>
            <a class="btn btn-info btn-xs" (click)="view(v.vdrid)"><span class="glyphicon glyphicon-search"></span>查看</a>
          </p>
          <p>
            <a class="btn btn-warning btn-xs" (click)="edit(v.vdrid)"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
            <a class="btn btn-danger btn-xs" (click)="delete(v.vdrid)"><span class="glyphicon glyphicon-remove"></span>删除</a>
          </p>
        </td>
      </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <!-- /.box-body -->
</div>
