<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">销售限价查询</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal" [formGroup]="formGroup">
    <div class="box-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">详细地址</label>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">省</div>
          <select class="form-control" (change)="showCity($event)" formControlName="caraddr1">
            <option disabled selected="selected">请选择省</option>
            <option *ngFor="let pro of province | async; let i = index" value="{{pro.name}}">{{pro.name}}</option>
          </select>
        </div>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">市</div>
          <select class="form-control" (change)="showArea($event)" formControlName="caraddr2">
            <option disabled selected="selected">请选择市</option>
            <option *ngFor="let c of city | async; let i = index" value="{{c.name}}">{{c.name}}</option>
          </select>
        </div>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">县</div>
          <select class="form-control" formControlName="caraddr3">
            <option disabled selected="selected">请选择区</option>
            <option *ngFor="let a of area | async; let i = index" value="{{a.name}}">{{a.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">牌照代码</label>
        <div class="col-sm-1" style="width:70px;">
          <input type="text" class="form-control" formControlName="carplate1">
        </div>
        <div class="col-sm-1" style="width:70px;">
          <input type="text" class="form-control" formControlName="carplate2">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">客户模式</label>
        <div class="col-sm-2">
          <select class="form-control" formControlName="cusmode">
            <option selected="selected">全部</option>
            <option>个人</option>
            <option>公司</option>
          </select>
        </div>
        <label class="col-sm-2 control-label">客户名称</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" formControlName="cusname">
        </div>
        <!--<span><i class="fa fa-fw fa-plus-square-o" (click)="addContact()"></i></span>-->
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">销售费用</label>
        <div class="col-sm-2">
          <select class="form-control" formControlName="state">
            <option selected="selected">全部</option>
            <option>未录入</option>
            <option>已录入</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">办证项目</label>
        <div *ngFor="let item of formGroup.get('itemlist').controls; let i=index">
          <div class="col-sm-2 formMulCheckBox">
            <div>{{itemlist[i].name}}</div>
            <input type="checkbox" [formControl]="item" value="{{itemlist[i].state}}">
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-left" (click)="create()">新建预录客户</button>&nbsp;&nbsp;
      <button type="submit" class="btn btn-success pull-left" style="margin-left:5px;" (click)="search(formGroup.value)">查询</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">查询结果</h3>
    <button>Excel导出</button>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="cusmgtTable" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>客户编号</th>
        <th>客户名称</th>
        <th>省市县</th>
        <th>牌照代码</th>
        <th>办证项目</th>
        <th>销售费用</th>
        <th>代办商联系人</th>
        <th>创建人</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let p of presales | async; let i=index ">
        <td>{{p.saleid}}</td>
        <td>{{p.cusname}}</td>
        <td>{{p.caraddr}}</td>
        <td>{{p.carplate}}</td>
        <td>{{showItemDetail(p)}}</td>
        <td>{{p.state}}</td>
        <td>{{p.contact}}</td>
        <td>{{p.creator}}</td>
        <td>
          <a class="btn btn-warning btn-xs" (click)="edit(p.saleid)"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
          <a class="btn btn-danger btn-xs" (click)="delete(p.saleid)"><span class="glyphicon glyphicon-remove"></span>删除</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <!-- /.box-body -->
</div>
