<!--<p>-->
<!--我是子组件-->
<!--</p>-->
<!--<p>获取到的搜索关键字是{{searchKeyword}}</p>-->

<div class="box" style="background:#ecf0f5;border-top:0;box-shadow:none;">
  <!--<div class="winBox">-->
  <!--<ul class="scroll">-->
  <!--<li>之沁管理系统欢迎您！</li>-->
  <!--<li>之沁管理系统欢迎您！</li>-->
  <!--<li>之沁管理系统欢迎您！</li>-->
  <!--<li>之沁管理系统欢迎您！</li>-->
  <!--<li>之沁管理系统欢迎您！</li>-->
  <!--<li>之沁管理系统欢迎您！</li>-->
  <!--<li>之沁管理系统欢迎您！</li>-->
  <!--</ul>-->
  <!--</div>-->
  <span class="mq">
    <marquee>之沁管理系统欢迎您！</marquee>
  </span>
</div>

