<form class="form-horizontal" [formGroup]="formGroup">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">基本信息</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
      <div class="form-group" style="display:flex;">
        <label class="col-sm-2 control-label">客户模式<span>*</span></label>
        <div class="col-sm-2">
          <select class="form-control" formControlName="cusmode">
            <option disabled selected="selected">请选择</option>
            <option value="个人">个人</option>
            <option value="公司">公司</option>
          </select>
        </div>
        <label class="col-sm-2 control-label">客户名称<span>*</span></label>
        <div class="col-sm-2">
          <select class="form-control" formControlName="cusname">
            <option *ngFor="let c of customers | async; let i = index;" value={{c.cusname}}>{{c.cusname}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">代办商联系人<span>*</span></label>
        <div class="col-sm-2">
          <select class="form-control" formControlName="contact">
            <option *ngFor="let c of vendors | async; let i = index;" value={{c.contact}}>{{c.contact}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">车辆户籍地<span>*</span></label>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">省</div>
          <select class="form-control" (change)="showCity($event)" formControlName="caraddr1">
            <option disabled selected="selected">请选择省</option>
            <option *ngFor="let pro of province | async; let i = index" value="{{pro.name}}">{{pro.name}}</option>
          </select>
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'caraddr1')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">市</div>
          <select class="form-control" (change)="showArea($event)" formControlName="caraddr2">
            <option disabled selected="selected">请选择市</option>
            <option *ngFor="let c of city | async; let i = index" value="{{c.name}}">{{c.name}}</option>
          </select>
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'caraddr2')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">县</div>
          <select class="form-control" formControlName="caraddr3">
            <option disabled selected="selected">请选择区</option>
            <option *ngFor="let a of area | async; let i = index" value="{{a.name}}">{{a.name}}</option>
          </select>
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'caraddr3')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">牌照代码<span>*</span></label>
        <div class="col-sm-1" style="width:70px;">
          <input type="text" class="form-control" formControlName="carplate1">
        </div>
        <div class="col-sm-1" style="width:70px;">
          <input type="text" class="form-control" formControlName="carplate2">
          <app-field-error-display
            [displayError]="validation.isFiledValid(formGroup, 'carplate2')"
            errorMsg="*必填项"></app-field-error-display>
        </div>
      </div>
      <div class="form-group">
      </div>
    </div>
    <!-- /.box-body -->
    <!-- /.box-footer -->
  </div>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">办证项目以及费用</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
      <table style="width:100%">
        <!--// 提档-->
        <tr>
          <td style="width:10%;">
            提档<input type="checkbox" formControlName="checkboxTidang">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxTidang').value" (click)="itemdetail($event)" name="tidang">
              {{presale.itemTidangReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxTidang').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">提档交易税</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemTidangTax">
              </div>
              <label class="col-sm-2 control-label">提档金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemTidangCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemTidangCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemTidangCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemTidangCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemTidangDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!--// 过户-->
        <tr>
          <td>
            过户<input type="checkbox" formControlName="checkboxGuohu">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxGuohu').value" (click)="itemdetail($event)" name="guohu">
              {{presale.itemGuohuReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxGuohu').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">过户交易税</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemGuohuTax">
              </div>
              <label class="col-sm-2 control-label">过户金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemGuohuCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemGuohuCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemGuohuCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemGuohuCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemGuohuDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!--上牌-->
        <tr>
          <td>
            上牌<input type="checkbox" formControlName="checkboxShangpai" name="cbShangpai">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxShangpai').value" (click)="itemdetail($event)" name="shangpai">
              {{presale.itemShangpaiReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxShangpai').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">上牌交易税</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemShangpaiTax">
              </div>
              <label class="col-sm-2 control-label">上牌金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemShangpaiCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemShangpaiCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemShangpaiCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemShangpaiCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemShangpaiDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!--违章-->
        <tr>
          <td>
            违章<input type="checkbox" formControlName="checkboxWeizhang">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxWeizhang').value" (click)="itemdetail($event)" name="weizhang">
              {{presale.itemWeizhangReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxWeizhang').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">违章交易税</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemWeizhangTax">
              </div>
              <label class="col-sm-2 control-label">违章金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemWeizhangCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemWeizhangCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemWeizhangCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemWeizhangCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemWeizhangDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!--抵押-->
        <tr>
          <td>
            抵押<input type="checkbox" formControlName="checkboxDiya">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxDiya').value" (click)="itemdetail($event)" name="diya">
              {{presale.itemDiyaReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxDiya').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">抵押金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemDiyaCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemDiyaCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemDiyaCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemDiyaCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemDiyaDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!--解除抵押 -->
        <tr>
          <td>
            解除抵押<input type="checkbox" formControlName="checkboxJiechudiya">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxJiechudiya').value" (click)="itemdetail($event)" name="jiechudiya">
              {{presale.itemJiechudiyaReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxJiechudiya').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">解除抵押金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemJiechudiyaCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemJiechudiyaCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemJiechudiyaCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemJiechudiyaCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemJiechudiyaDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!--委托-->
        <tr>
          <td>
            委托<input type="checkbox" formControlName="checkboxWeituo">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxWeituo').value" (click)="itemdetail($event)" name="weituo">
              {{presale.itemWeituoReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxWeituo').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">委托金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemWeituoCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemWeituoCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemWeituoCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemWeituoCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemWeituoDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!--年检-->
        <tr>
          <td>
            年检<input type="checkbox" formControlName="checkboxNianjian">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxNianjian').value" (click)="itemdetail($event)" name="nianjian">
              {{presale.itemNianjianReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxNianjian').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">年检交易税</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemNianjianTax">
              </div>
              <label class="col-sm-2 control-label">年检金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemNianjianCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemNianjianCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemNianjianCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemNianjianCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemNianjianDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!--换补牌证-->
        <tr>
          <td>
            换补牌证<input type="checkbox" formControlName="checkboxBuhuan">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxBuhuan').value" (click)="itemdetail($event)" name="buhuan">
              {{presale.itemBuhuanReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxBuhuan').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">换补牌证金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemBuhuanCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemBuhuanCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemBuhuanCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemBuhuanCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemBuhuanDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
        <!--其他-->
        <tr>
          <td>
            其他<input type="checkbox" formControlName="checkboxQita">
          </td>
          <td>
            <button [hidden]="!formGroup.get('checkboxQita').value" (click)="itemdetail($event)" name="qita">
              {{presale.itemQitaReqId==null?'创建办证要求':'编辑办证要求'}}
            </button>
          </td>
        </tr>
        <tr [hidden]="!formGroup.get('checkboxQita').value">
          <td></td>
          <td>
            <div class="form-group">
              <label class="col-sm-2 control-label">其他金额</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemQitaCost">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemQitaCost')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预计完成工作日</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" formControlName="itemQitaCompletedate">
                <app-field-error-display
                  [displayError]="validation.isFiledValid(formGroup, 'itemQitaCompletedate')"
                  errorMsg="*必填项"></app-field-error-display>
              </div>
              <label class="col-sm-2 control-label">摘要说明</label>
              <div class="col-sm-2">
                <textarea class="form-control" formControlName="itemQitaDesc"></textarea>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- /.box-body -->
    <!-- /.box-footer -->
  </div>
  <!-- /.box -->
  <div class="box-footer">
    <button type="button" class="btn btn-default" (click)="cancel()">取消</button>
    <button type="button" class="btn btn-default" (click)="save()">保存</button>
    <button type="submit" class="btn btn-info pull-right" [disabled]="!formGroup.valid">确认(提交)</button>
  </div>
</form>
